[submodule "externals/raspberrypi"]
	path = externals/raspberrypi
	url = git@github.com:gstorto/raspberrypi.git
[submodule "externals/altimu10-ahrs"]
	path = externals/altimu10-ahrs
	url = git@github.com:gstorto/altimu10-ahrs.git
[submodule "externals/altimu10-gui"]
	path = externals/altimu10-gui
	url = git@github.com:gstorto/altimu10-gui.git
